.login-box {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}

.my-label {
    font-size: 15px !important;
}

img {
    align-items: center;
    width: auto;
    margin: auto;
    display: block;
}